.content .header-section{
	display: block;
	position: relative;
	font-size: 1.333rem;
	text-align: center;
	margin-bottom: $positive_2;
}

.headline{
	display: block;
	margin-top: -62px;
	font-size: $positive_6;
	font-family: $script;
	font-weight: 400; 
	font-style: normal;
	color: $primary_light;
}

.skills, .about, .contact{
	padding: 0 $positive_1;
}

@media screen and (min-width: 54em){
	.skills, .about, .contact{
		padding: 0 $positive_4;
	}
}

.skills, .about, .contact, .projects{
	margin-bottom: $positive_9;
}

.skills-content-container{
	
}

.skills-content{
	margin: 0;
	padding: 0;
	text-align: center;
	li{
		display: block;
		width: 100%;
		margin-bottom: $positive_8;
	}

	.skill-icon-container{
		display: block;
		position: relative;
		width: 100%;
	}

	.skill-text-container{
		position: relative;
		h3{
			margin-top: 0;
		}
		p{
			line-height: $positive_3;
		}
	}

	.skill-icon{
		display: inline-block;
		width: 100px;
		height: 100px;
	}

	.icon-research{
		background: url('icons/research.svg');
	}

	.icon-usability{
		background: url('icons/usability.svg');
	}

	.icon-coding{
		background: url('icons/coding.svg');
	}
}


@media screen and (min-width: 58em){
	.skills-content{
		max-width: 1200px;
		margin: 0 auto;
		li{
			display: block;
			float: left;
			width: 33%;

			.skill-text-container{
				padding: 0 $positive_1;
			}
		}
	}
}

.projects-content-container{
	
}

.projects-content{
	display: block;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
	li{
		display: block;
		position: relative;
		width: 100%;
		height: 260px;
		margin: 0;
		padding: 0;
		overflow: hidden;
		z-index: 0;
		.project-image, .project-caption{
			display: block;
		}

		.project-overlay{
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: $background;
			opacity: 0.4;
			z-index: 0;
		}

		.project-description{
			display: block;
			padding: $negative_2 0 $negative_2 $negative_1;
			
			h3{

			}
			p{

			}
		}

		.project-caption{
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: auto;
			padding: $negative_2 0 $negative_2 $negative_1;
			z-index: 1;
			font-size: $negative_2;
		}
	}
	.project-1{
		background: url('http://placekitten.com/g/500/500') left top no-repeat scroll;
	} 

	.project-2{
		background: url('http://placekitten.com/g/700/700') left top no-repeat scroll;
	}

	.project-3{
		background: url('http://placekitten.com/g/600/500') left top no-repeat scroll;
	}

	.project-4{
		background: url('http://placekitten.com/g/600/700') left top no-repeat scroll;
	}

	.project-5{
		background: url('http://placekitten.com/g/500/500') left top no-repeat scroll;
	}
}

@media screen and (min-width: 32em){
	.projects-content{
		li{
			width: 50%;
			float: left;
		}
	}
}

.about article{
	max-width: 1200px;
	margin: 0 auto;
}

.about-content-container{
	text-align: center;

	section{
		display: block;
		margin-top: $positive_6;
		margin-bottom: $positive_4; 

		h5{
			margin: $positive_1 0;
		}

		p{
			line-height: $positive_3;
		}
	}
}

.what, .how, .when{
	display: block;
	position: relative;
	width: 100%;
}

@media screen and (min-width: 54em){
	.about-content-container{
		section {
			p{
				line-height: $positive_5;
			}
		}
		.what{
			display: block;
			float: left;
			position: relative;
			width: 78%;
			margin-right: 2%;
			text-align: left;
		}
		.when{
			float: left;
			width: 20%;

			p{
				margin-top: 0.6em;
			}
		}
	}
}

@media screen and(min-width: $skills_breakpoint){
	.about-content-container{
		.interests{
			text-align: left;
		}
	}
}

.when{
	margin-bottom: $positive_4;
	.date{
		font-weight: 300;
		font-size: $negative_2;
	}
}

#contact{
	margin: 0;
	margin-bottom: 200px;
	padding: 0;
	fieldset{
		display: block;
		margin: 0 auto;
		padding: 0;
		border: none;
		max-width: 1000px;

		input{
			text-overflow: ellipsis;
		}

		label{
			position: relative;
		}
	}

	#name, #email, #message, #captcha{
		display: block;
		width: 100%;
		margin: 0;
		margin-bottom: $positive_4;
		color: white;
		background-color: transparent;
		padding: $negative_2 $positive_1 $negative_2 0;
		border: none;
		border-bottom: 2px solid rgba(150, 150, 150, 0.2); 
		font-size: $positive_2;
	}

	#number-1, #number-2{
		text-align: center;
		color: white;
		background-color: transparent;
		border: none;
	}

	#name:focus, #email:focus, #message:focus, #number-1:focus, #number-2:focus{
		outline: none;
	}

	.button{
		display: block;
		margin: 0 auto;
		border: none;
		outline: none;
		padding: 15px 25px 15px 63px;
		font-weight: 700;
		letter-spacing: $negative_9;
		background: $primary_dark;
		color: $primary_light;
		border-radius: 7px;
		box-shadow: 0 5px #412347;
		position: relative;
		.response{
			
		}
	}

	.button:before{
		color: $primary_light;
		font-family: 'icomoon';
		content: "\e000";
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		position: absolute;
		left: 0;
		width: 40%;
	}

	.button.success, .button.error{
		.response{
			
		}
	}

	.button.error{
		-webkit-animation: shake 0.5s;
		-moz-animation: shake 0.5s;
		animation: shake 0.5s;
	}

	.button.success:before{
		content: "\e001";
	}

	.button.error:before{
		content: "\e002";
	}

	.button.disabled{
		box-shadow: 0 2px #412347;
	}
}

@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
	0%, 100% {-moz-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}