.project-date-header{
	margin: 0 auto;
	font-size: $negative_2;
}

.project{
	line-height: $positive_4;
	max-width: 46em;
	margin: 0 auto;
	section{
		padding: 0 $positive_1;
	}

	.techniques-list{
		list-style: disc;
	}

	a{
		color: $primary_light;
		text-decoration: none;
	}
}
