$background: #1c192c;
$secondary_dark: #213359;

//$secondary_light: #70a9e0;
$secondary_light: #69b0dc;

$primary_dark: #5f3368;
//$primary_light: #c84c88;
$primary_light: #74c0bc;

$neutral_dark: #152038;
$grey_dark: #808080;
$grey_light: #ebebeb;
$black: #111;

//#74c0bc
//#69b0dc


$text: #ddd;