$background: #1c192c;
$secondary_dark: #213359;
$secondary_light: #70a9e0;
$primary_dark: #5f3368;
$primary_light: #c84c88;
$neutral_dark: #412347;
$grey_dark: #808080;
$grey_light: #ebebeb;
$black: #111;