@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}


$positive_1: 1.066em;
$positive_2: 1.333em;
$positive_3: 1.422em;
$positive_4: 1.777em;
$positive_5: 1.895em;
$positive_6: 2.369em;
$positive_7: 2.526em;
$positive_8: 3.157em;
$positive_9: 3.367em;
$positive_10: 4.209em;

$negative_1: 0.8em;
$negative_2: 0.75em;
$negative_3: 0.6em;
$negative_4: 0.563em;
$negative_5: 0.45em;
$negative_6: 0.422em;
$negative_7: 0.338em;
$negative_8: 0.317em;
$negative_9: 0.238em;
$negative_10: 0.19em;
