$default_font_size: 20px;
$small_font_size: 18px;
$default_regular: "SteagalRegular";
$default_bold: "SteagalBold";
$default_light: "SteagalLight";
//$script: "Lakesight";
$script: "Lakesight";
$icomoon: 'icomoon';