.nav-sticky{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-size: $positive_1;
	//font-family: $default_bold;
	font-family: $default_light;
	font-weight: 200;
	z-index: 100;
}

.top-bar{
	height: 56px;
	background: white;
	line-height: 56px;
	overflow: hidden;
}

.top-bar.expanded{
	height: auto;
}

.title-bar{
	display: block;
	position: relative;
	height: 56px;
	margin: 0;
	padding: 0;
	list-style: none;

	.project-name-nav{
		position: relative;
		padding-left: 1em;
		color: $black;
		font-weight: 700;
		line-height: 60px;
	}

	.toggle-nav{
		position: absolute;
		right: 1em;
		top: 6px;
		background: url('icons/menu.svg');
		background-size: cover;
		background-position: center center; 
		width: 46px;
		height: 46px;
		a{
			width: inherit;
			height: inherit;
			display: block;
			margin: 0;
			padding: 0;
		}
	}
}

.top-bar-section{
	ul{
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;

		li{
			display: block;
			color: $black;
			border-top: 1px solid #d9d9d9;
			a{
				display: block;
				padding-left: $positive_1;
				color: $black;
				text-decoration: none;
			}
		}

		li:hover{
			background-color: $primary_dark;
			a{
				color: white;
			}
		}

		li.divider, li.project-name-nav{
			height: 0;
			width: 0;
			display: none;
		}
	}
}

.csstransitions .top-bar-section{
	ul{
		li{
			transition: all 0.2s;

			a{
				transition: color 0.4s;
			}
		}
	}
}

@media screen and (min-width: $navigation_breakpoint){
	.top-bar{
		height: 68px;
		line-height: 68px;
	}
	.top-bar-section{
		text-align: center;
		ul{
			display: inline-block;
			width: auto;
			max-width: 40em;
			li, li.divider, li.project-name-nav{
				display: block;
				float: left;
				border: none;
				a{
					display: block;
					padding: 0 $positive_2;
					color: $grey_dark;
					text-decoration: none;
				}
			}
			li:hover{
				background: none;
				border-top: 2px solid $primary_dark;
				a{
					color: $primary_dark;
				}
			}
			li.divider:hover{
				background-color: white;
				border: none;
			}
			li.divider{
				width: $positive_6;
				height: 68px;
			}
			li.project-name-nav{
				height: auto;
				width: auto;
				padding: 0 $positive_1;
			}
			li.project-name-nav:hover{
				background-color: white;
				border: none;
			}
			.home{
				position: absolute;
				left: 1em;
			}
		}
	}
	.title-bar{
		display: block;
		position: relative;
		height: 0;

		.toggle-nav{
			width: 0;
			height: 0;
		}

		.project-name-nav{
			width: 0;
			height: 0;
			display: none;
		}
	}
}

@media screen and (min-width: $skills_breakpoint){
	.top-bar-section{
		ul{
			li.divider{
				width: $positive_10;
			}
			li.project-name-nav{
				padding: 0 $positive_4;
			}
		}
	}
}